@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

header {
 display: flex;
 justify-content: space-between;
 padding: 20px;
 .iconsLeft {

  svg {
   font-size: 1.2rem;
   cursor: pointer;
   transition: .9s;
    &:hover {
     transform: rotateZ(360deg); 
    }
   }
   svg + svg {
    margin-left: 15px;
   }

 }

 h1{
  font-size: 6rem;
  font-family: 'Amita', cursive;
 }

 .iconsRight {
  svg {
   font-size: 1.2rem;
   cursor: pointer;
  }

  svg + svg {
   margin-left: 15px;
  }
 }
}
