.containerInfoUsuario {
display: flex;
justify-content: space-around;
align-items: center;
 .blocoUmInfoUsuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  border: 2px solid aqua;
  padding: 10px;
  img {
   width: 200px;
  }
  .infoDoPerfil {
   p + p {
    margin-top: 10px;
   }
  }
 }

 .infoEndereco {
 }
}

@media (max-width: 900px){
 .containerInfoUsuario {
 flex-direction: column;
 .blocoUmInfoUsuario{
  max-width: 100%;
  width: 100%;
 }
 }
}
@media (max-width: 900px){
 .containerInfoUsuario {
 flex-direction: column;

  .blocoUmInfoUsuario {
   img{
    width: 100px;
   }
  }
 }
}